[Desktop Entry]
Name=Libreria comandi
Comment=Raccolta di script bash
Icon=/usr/share/icons/gnome/32x32/apps/khelpcenter.png
Exec='/usr/share/libreria_comandi/Libreria_comandi.sh' 
Terminal=true
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=KDE;
